.logo{position:absolute}
.nbar ul li{list-style:none; display:inline ;margin:0 5px;line-height:80px}
.nbar ul li a{color:;font-size:17px;text-transform:uppercase;}
activ a:hover{color:#c27115;transition: .5s;}
.nbar ul {float:right;margin-right:15px;margin-top:20px}
.nbar{position: fixed;top: 0;left: 0;width: 100%;z-index: 1;background: #ddd;padding: 10px 0;}
.checkbtn{font-size:30px;float:right;display: none;margin:0 5px;line-height:80px;cursor:pointer;}
#check{display:none;}
